FB_PIXEL_ID=1415758302881950
FB_ACCESS_TOKEN=EAAapKZA8BXh8BReyuwWkEybIqtUrMNNYDnZAZBGvWTS4tOX4pkgmI8gym2G1hQ0wjTQ8ZBJ1ieEpCogGsQlknRBrFZCM7dzEFBpI7MvFuKretkiS1QZAtd2FPzbZCZCCz1qMs40QILqXli8IaFbIi4VtBaE6LdgjKJWLeJZByItmZAdxXlG8ZCZCUfJ1GpuPStZAZA5cDKOQZDZD
BOT_TOKEN=8725852891:AAEJXWmKAhInMY3fwxFDenvmIXhMPMySKck
TELEGRAM_CHANNEL_ID=-1003870239597